@{
    ViewBag.Title = "Home Page";
}

<style>
    #aa {
        width: 100vw;
        height: 100vh;
        background-image: url(../../Content/img/home.png);
        background-size: cover;
    }
</style>

<div id="aa">

</div>