@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        overflow-y: hidden;
    }
    #aa {
        width: 100vw;
        height: 100vh;
        background-image: url(../../Content/img/home.png);
        background-size: cover;
    }

        #aa p {
            font-size: 22px;
            color: #fff;
            font-family:Bangers;
            margin-left: 100px;
            padding-top: 360px;
            
        }
</style>

<div id="aa">
    <p>
        O grande robô inflável está sempre a postos para cuidar de Hiro Hamada.<br>
        Quando algo devastador assola a cidade, o menino prodígio, seus amigos e<br>
        o robô formam um grupo de heróis para combater o mal.
    </p>
</div>
